@for $i from 0 through 5 {
	.mt-#{$i} {
		margin-top: #{$i * rem(10px)} !important;
	}
	
	.mb-#{$i} {
		margin-bottom: #{$i * rem(10px)} !important;
	}
	
	.ml-#{$i} {
		margin-left: #{$i * rem(10px)} !important;
	}
	
	.mr-#{$i} {
		margin-right: #{$i * rem(10px)} !important;
	}
	
	.pt-#{$i} {
		padding-top: #{$i * rem(10px)} !important;
	}
	
	.pb-#{$i} {
		padding-bottom: #{$i * rem(10px)} !important;
	}
	
	.pl-#{$i} {
		padding-left: #{$i * rem(10px)} !important;
	}
	
	.pr-#{$i} {
		padding-right: #{$i * rem(10px)} !important;
	}
	
	@media #{$min-sm} {
		.mt-sm-#{$i} {
			margin-top: #{$i * rem(10px)} !important;
		}
		
		.mb-sm-#{$i} {
			margin-bottom: #{$i * rem(10px)} !important;
		}
		
		.ml-sm-#{$i} {
			margin-left: #{$i * rem(10px)} !important;
		}
		
		.mr-sm-#{$i} {
			margin-right: #{$i * rem(10px)} !important;
		}
		
		.pt-sm-#{$i} {
			padding-top: #{$i * rem(10px)} !important;
		}
		
		.pb-sm-#{$i} {
			padding-bottom: #{$i * rem(10px)} !important;
		}
		
		.pl-sm-#{$i} {
			padding-left: #{$i * rem(10px)} !important;
		}
		
		.pr-sm-#{$i} {
			padding-right: #{$i * rem(10px)} !important;
		}
	}
	
	@media #{$min-md} {
		.mt-md-#{$i} {
			margin-top: #{$i * rem(10px)} !important;
		}
		
		.mb-md-#{$i} {
			margin-bottom: #{$i * rem(10px)} !important;
		}
		
		.ml-md-#{$i} {
			margin-left: #{$i * rem(10px)} !important;
		}
		
		.mr-md-#{$i} {
			margin-right: #{$i * rem(10px)} !important;
		}
		
		.pt-md-#{$i} {
			padding-top: #{$i * rem(10px)} !important;
		}
		
		.pb-md-#{$i} {
			padding-bottom: #{$i * rem(10px)} !important;
		}
		
		.pl-md-#{$i} {
			padding-left: #{$i * rem(10px)} !important;
		}
		
		.pr-md-#{$i} {
			padding-right: #{$i * rem(10px)} !important;
		}
	}
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	margin: 0 !important;
}

.space {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: rem(20px);
}